main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.login-section {
  width: 500px;
  height: 350px;
  /* margin-left: 20vw; */
}

.login-section div {
  margin-top: 25%;
}

.login-section p {
  margin-top: 25px;
}
