.container {
  height: 100vh;
  width: 15%;
  background-color: lightgray;
  position: fixed;
  left: 0;
  min-width: 90px;
}

.listContainer {
  list-style: none;
  border-bottom: 2px solid darkgray;
  padding: 8px;
}

.selectedRoute {
  text-decoration: underline;
}
