.btn {
  border-style: none;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  background-color: darkred;
  color: white;
  font-weight: bold;
  max-width: 400px;
  cursor: pointer;
}
.btn:disabled {
  background-color: rgb(194, 79, 79);
  cursor: not-allowed;
}
