header {
  min-height: 100px;
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 20px;
  position: fixed;
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home-product-nav {
  margin-top: 50px;
}

.home-product-nav li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  color: brown;
}

a:hover {
  text-decoration: underline;
}

.sigin-cart-container {
  align-self: stretch;
  height: 100px;
  width: 150px;
  /* background-color: red; */
  position: relative;
}

.sigin-cart-container li {
  display: inline;
  position: relative;
  left: 0;
}

.cart-button {
  width: 150px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  background-color: rgb(190, 190, 190);
  border-style: none;
}

.cart-button img {
  margin-left: 2px;
  height: 40px;
  width: 40px;
  margin-left: 0px;
  display: inline-block;
  margin-top: 8px;
}

.cart-button span {
  display: inline-block;
  margin-bottom: 10px;
  color: brown;
}

.logo-img {
  height: 80px;
  width: 170px;
}
