.cart-container {
  height: 750px;
  width: 450px;
  background-color: lightgray;
  position: relative;
}

.parent {
  height: 100vh;
  width: 100vw;
}

.cart-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: rgb(36, 31, 31);
  color: white;
}

.cart-box-header h3 {
  padding-left: 10px;
}

.cart-box-header button {
  border-style: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  color: white;
  padding-right: 25px;
}

.closeImg {
  height: 15px;
  width: 15px;
}

.cart-box-footer {
  height: 14%;
  background-color: white;
  text-align: center;
  color: rgb(107, 107, 107);
}

.cart-box-footer button {
  width: 80%;
  border-style: none;
  height: 50px;
  background-color: darkred;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 15px;
  margin: 25px 0px 0px 45px;
}

@media screen and (max-width: 750px) {
  .cart-container {
    width: 100%;
    height: 100%;
  }
}
