.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.homeProductNav {
  margin-top: 50px;
}

.homeProductNavListItem {
  display: inline;
  list-style: none;
}

.siginCartContainer {
  align-self: stretch;
  height: 100px;
  width: 150px;
  /* background-color: red; */
  position: relative;
}

.siginCartContainerListItem {
  display: inline;
  position: relative;
  left: 0;
}

.cartButton {
  width: 150px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  background-color: rgb(190, 190, 190);
  border-style: none;
}

.cartButtonImg {
  margin-left: 2px;
  height: 40px;
  width: 40px;
  margin-left: 0px;
  display: inline-block;
  margin-top: 8px;
}

.cartButtonSpan {
  display: inline-block;
  margin-bottom: 10px;
  color: brown;
}

.logoImg {
  height: 80px;
  width: 170px;
}

.selectedRoute {
  text-decoration: underline;
}
