* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  min-height: 100px;
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  /* margin-bottom: 20px; */
  position: fixed;
  background-color: white;
  top: 0;
}

.modalStyle {
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(155, 155, 155, 0.4);
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
